{# #### Sablona pro Twig v.2 - vypis uvodni stranky #### #}

{# dedim od zakladni sablony #}
{% extends "template-basic.twig" %}

{#{% set contribution_groups_style = {
    'author': {
        'working_on': {
            'color':'dark',
            'btn_text':'Upravit'
        },
        'published': {
            'color':'success',
            'btn_text':'Detail'
        },
        'dismissed': {
            'color':'danger',
            'btn_text':'Detail'
        },
    },
    'reviewer': {
        'sub-item-1': 'my-sub-item-1',
        'sub-item-2': 'my-sub-item-2',
    },
    'admin': {
        'sub-item-1': 'my-sub-item-1',
        'sub-item-2': 'my-sub-item-2',
    }
}

%}#}



{# prekryvam cely blok obsahu #}
{% block obsah %}

    <div class="container d-flex flex-column flex-lg-row p-0">


        {# Menu - left#}

        <div class="align-self-lg-start sticky-lg-top">
            <div class="navbar navbar-dark d-flex flex-column flex-shrink-0 p-3 bg-dark align-items-start pe-5">
                <p class="navbar-brand p-0 m-0 mb-3">Sekce</p>
                <ul class="navbar-nav flex-column mb-auto">
                    {% for contribution_group_key, contribution_group in contribution_groups %}

                        <li class="nav-item">
                            <a href="#{{contribution_group_key}}" class="nav-link">
                                {{ contribution_group['title_group'] }}
                            </a>
                        </li>

                    {% endfor %}

                </ul>
            </div>
        </div>
        {# END: Menu#}


        {# Tabulka prispevky#}

        <div class="container d-flex flex-column mt-3 mt-lg-0">

            {% for contribution_group_key, contribution_group in contribution_groups %}

                <div id="{{contribution_group_key}}" class="mb-3">
                    <h3 class="ps-3 pb-0">{{contribution_group['title_group']}}</h3>
                    {% for contribution in contribution_group['contributions'] %}
                        {% set role = 'author' %}

                        {% set color = contribution_group['color'] %}
                        {% if color is null %}
                        {% set color = 'dark' %}
                        {% endif %}

                        <a  href="index.php?page={{link_page}}" class="hover text-decoration-none text-dark">
                            <div class="rounded d-flex justify-content-between flex-column flex-lg-row position-relative bg-{{color}} bg-opacity-25 p-3 pb-0 m-3 mt-0">

                                <div>
                                    <h5 class="mt-0">{{contribution['name']}}</h5>
                                    {% if contribution['date'] is not null %}
                                        <p>
                                            <i class="fa fa-calendar me-2"></i>
                                            <b>Datum:</b> {{contribution['date']}}
                                        </p>
                                    {% endif %}
                                    <p class="pb-0">{{contribution['abstract']}}</p>

                                    <p class="mb-0">{{ contribution['login'] }}</p>

                                    <p>{{ contribution['email'] }}</p>

                                </div>

                                <div class="d-flex align-items-center">
                                    <button class="btn btn-{{color}} m-2">{{ contribution_group['btn_text'] | default("Upravit") }}</button>
                                </div>

                            </div>
                        </a>

                    {% endfor %}
                </div>

            {% endfor %}

        </div>
        {# END: Tabulka prispevky #}


    </div>

{% endblock %}