{# #### Sablona jako zaklad vsech stranek #### #}

{# pripojuju makra #}
{% import "macro.twig" as macro %}


{# HTML #}
<!doctype html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <!-- nastaveni viewportu pro Boostrap -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ nadpis | striptags }}</title>

        <link rel="stylesheet" href="{{ macro.CSS_DIR }}/style.css">


        <!-- -- Importy -- -->

        <!-- CSS Bootstrapu (JS v paticce) -->
        <link rel="stylesheet" type='text/css' href="{{ macro.COMPOSER_DIR }}/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" type='text/css' href="{{ macro.COMPOSER_DIR }}/vendor/components/font-awesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="{{ macro.COMPOSER_DIR }}/vendor/components/font-awesome/css/regular.min.css">
        <link rel="stylesheet" href="{{ macro.COMPOSER_DIR }}/vendor/components/font-awesome/css/solid.min.css">

        <!-- -- END: Importy -- -->


    </head>
    <body class="d-flex flex-column min-vh-100 bg-black bg-opacity-10">

        {# navbar #}
        {% block navbar %}
            {{ include('inc-navbar.twig') }}
        {% endblock %}
        {# END navbar #}

        {# header #}
        {% block header %}
        {% endblock %}
        {# END header #}




            {# vypis a sprava prihlaseni uzivatele #}
            {#{% block prihlaseni %}
                {% include("login.twig") %}
            {% endblock %}#}
       {# <div class="container">
            <h1>{{ nadpis | striptags }}</h1>
        </div>#}
        <div class="container bg-white pt-5 pb-5">

            {# Nadpis #}
            {% block title %}

            <div class="container mb-5">
                <h1>{{ title }}</h1>
            </div>

            {% endblock title %}
            {# END: Nadpis#}

            {# vypis obsahu stranky #}
            {% block obsah %}

               {# #}{# vypis kosiku #}{#
                {% block nakupniKosik %}
                    Obsah kosiku.
                {% endblock %}

                #}{# vypis produktu obchodu #}{#
                {% block produktyObchodu %}
                    Obsah obchodu.
                {% endblock %}

                #}{# text stranky #}{#
                {% block text %}
                    Textový obsah stránky.
                {% endblock %}#}

            {% endblock obsah %}
            <div class="container p-4"></div>
        </div>

        {# footer #}
        {% block footer %}
            {{ include('inc-footer.twig') }}
        {% endblock %}
        {# END footer #}


        <!-- ------------- JavaScripty ------------- -->

        <!-- jQuery -->
        <script src="{{ macro.COMPOSER_DIR }}/vendor/components/jquery/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="{{ macro.COMPOSER_DIR }}/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


        <!-- ------------- END: JavaScripty ------------- -->
    </body>
</html>